.container{
    margin-left : 10%;
    margin-right: 10%;
}

.heading, .header h3{
    color: orange;
    text-align: center;
}
.header{
    display: flex;
    justify-content: center;
}
.header ul{
    list-style: none;
    display: flex;
}

.header ul li{
    width: 60px;
}
.header ul li a{
    text-decoration: none;
}
.footer{
    margin-top: 70px;
}
.footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer ul li{
    padding : 5px;
}

img{
    width: 600px;
}